html, body {
  height: 100%;
  font-size: 16px;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

.v-line {
  width: 1px;
  background-color: #e0e6ed;
}
.h-line {
  height: 1px;
  background-color: #e0e6ed;
}
